.slick-slider {
    margin:0 -15px;
    /* margin: auto; */
}
.slick-slide {
    /* padding:10px; */
    /* background-color:red; */
    /* text-align:center; */
    /* margin-right:12px; */
    /* margin-left:12px; */
}
/* .slick-track {
    margin:auto;
     display: flex;
  justify-content: center;
} */